.gear-thumbnail {

  $copy-gutter: 20px;

  filter: drop-shadow(0 0 0.65rem lightgray);

  .gear-thumbnail-inner {
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
  } 
  
  .copy {
    padding: $copy-gutter $copy-gutter #{$copy-gutter *3};
  }

  .gear-thumbnail-actions {
    position: absolute;
    bottom: $copy-gutter;
    right: $copy-gutter;
    display: flex;
    justify-content: flex-end;
    button {
      display: flex;
      flex-direction: column;
      background: $lazuli;
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }

    svg {
      stroke: $white;
      width: 20px;
      margin: auto;
    }
  }
}