:root {
  font-family: Courier, monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, .App {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
  padding: 100px 20px;
}


@media (prefers-color-scheme: light) {

}

.form-field {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

label {
  font-size: .8rem;
  color: blue;
  font-weight: medium;
  text-transform: uppercase;
  margin-bottom: .2rem;
  display: block;
}

input, select, textarea {
  border: 1px solid black;
}


.flex-wrapper {
  display: flex;
}


header, footer {
  padding: 20px;
  background: navy;
  text-align: center;
}

.border-with-padding {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

button {
  padding: 10px 10px;
  background: teal;
  color: white;
  font-weight: bold;
  border-radius: .4rem;
}

.gear-thumbnail-actions button {
  margin-right: 10px;
}
svg {
  width: 20px;
  height: auto;
}


.gear-thumbnail img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  object-position: left bottom;
}

.gear-thumbnail .copy {
  margin: 15px 0;

}