form {
  padding: 40px 0;
  .form-field {
    margin-bottom: 1.5rem;
    position: relative;
  }

  label {
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
    letter-spacing: 0.1em;
    font-weight: 600;
  }

  input:not([type="checkbox"]),
  select,
  textarea {
    border-bottom: 1px solid $charcoal;
    font-size: 1rem;
    padding: 5px 10px;
    width: 100%;
  }

  .address-autofill {
    margin-bottom: 1.5rem;
  }
}

.checkboxes {
  padding: 5px 10px;
}

.checkbox-wrapper {
  display: flex;

  align-items: center;
  label {
    margin: 0 0 0 10px;

  }
}

legend {
  @extend label;
}

.form-switcher {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  p {
    margin-right: 20px;
    padding: 5px;
  }
}

.centered-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
