.global-image {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    z-index: 1;
    inset: 0;
    height: 100%;
    width: 100%;
    object-position: center;

    &.img-cover {
      object-fit: cover;
    }
    &.img-contain {
      object-fit: contain;
    }
  }
}


