.button, button {
  display: inline-block;
  border: none;
  padding: 0;
}

.button {
  padding: 10px 10px;
  color: $white;
  font-weight: bold;
  border-radius: 0.2rem;
  min-width: 100px;
  text-align: center;

  &.orange {
    background-color: $orange;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.lazuli {
    background-color: $lazuli;
  }
}

