button,
.button {
  padding: 10px 10px;
  color: $white;
  font-weight: bold;
  border-radius: 0.2rem;
  min-width: 100px;
  text-align: center;

  &.orange {
    background-color: $orange;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.lazuli {
    background-color: $lazuli;
  }
}

.gear-thumbnail-actions button {
  margin-right: 10px;

  svg {
    width: 20px;
    height: auto;
  }
}

.gear-thumbnail img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.gear-thumbnail .copy {
  margin: 15px 0;
}
